@media (max-width: 850px) {
    header .content .choose_bx .select {
        display: flex;
        flex-wrap: wrap;
    }

    header .content .choose_bx .select .card {
        width: 45%;
    }

    header .content .choose_bx .select .card:nth-last-child(1) {
        width: 100%;
        margin-top: 10px;
    }

    /* top selling apartment */
    .top_selling .top_selling_content {
        padding-top: 240px;
    }

    /* we provide section  */
    .we_provide .we_provide_content .we_provide_box {
        display: flex;
        flex-direction: column;
    }


}

@media (max-width: 580px) {
    header nav .right_bx ul {
        position: absolute;
        top: 50px;
        right: 40px;
    }

    header nav .right_bx ul li a {
        color: yellow;
    }

    header nav .right_bx ul li:nth-last-child(1) a {
        color: yellow;
    }

    /* we provide section  */
    .we_provide .we_provide_content .we_provide_box .we_provide_description .content {
        /* border: 1px solid black; */
         display: flex; 
        flex-direction: column;
    }

    /* website counter */
    .website_counter .counter_content .counter_box {
        display: flex;
        flex-direction: column;
    }

    .website_counter .counter_content .counter_box .counter_box_half_div {
        display: flex;
        flex-direction: column;
    }



}