@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Poppins', sans-serif;
}



header {
    width: 85%;
    height: 85vh;
    /* border: 1px solid #000000; */
    margin: auto;
    transition: 0.3s linear;
}


/* navbar start  */
header nav {
    width: 100%;
    height: 7%;
    margin: 5px auto;
    /* border: 1px solid #000000; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .right_bx {
    display: flex;
    align-items: center;
}

header nav .right_bx ul {
    display: flex;
    align-items: center;
}

header nav .right_bx ul li {
    padding: 3px 15px;
}

header nav .right_bx ul li:nth-last-child(1) {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 3px 20px;
}

header nav .right_bx ul li:nth-last-child(1) a {
    color: #000000;
}

header nav .right_bx ul li:nth-last-child(1) a:hover {
    color: gray;
}

header nav .right_bx ul li a {
    color: gray;
    font-size: 11px;
    font-weight: 500;
    transition: 0.3s linear;
}


header nav .right_bx ul li a:hover {
    color: #000000;
}

header nav .right_bx .account_bx {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header nav .right_bx .account_bx .bi {
    margin-left: 15px;
    color: gray;
    cursor: pointer;
    transition: 0.3s linear;
}

header nav .right_bx .account_bx .bi:hover {
    color: #000000
}

/* navbar end  */



/* content start */
header .content {
    position: relative;
    width: 100%;
    height: 93%;
    /* border: 1px solid red; */
}

header .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    background: url(images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
    transform: scaleX(-1);
    border-radius: 20px;
    z-index: -1;
}

header .content .content_bx {
    max-width: 500px;
    height: auto;
    padding: 35px;
    /* border: 1px solid #000000; */
}

header .content .content_bx h1 {
    color: lemonchiffon;
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
}

header .content .content_bx .motto {
    color: lightsteelblue;
    font-weight: 500;
    font-size: 13px;
}

header .content .content_bx .number_of_room {
    font-size: 14px;
    letter-spacing: 2px;
    color: aqua;
    font-weight: 600;
    margin-top: 15px;
}

header .content .content_bx .weather {
    color: aliceblue;
    margin-top: 30px;
}

header .content .content_bx .content_btn {
    margin-top: 10px;
}

header .content .content_bx .content_btn i {
    font-size: 20px;
    background: gray;
    color: aliceblue;
    padding: 0 3.3px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s linear;
}

header .content .content_bx .content_btn i:hover {
    background: aliceblue;
    color: gray;
}

header .content .content_bx .content_images_bx {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 50px;
    /* border: 1px solid #000000; */
}

header .content .content_bx .content_images_bx .card {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background: #DCDAE7;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}

header .content .content_bx .content_images_bx .card img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 8px;
}

header .content .content_bx .content_images_bx .card h6 {
    position: absolute;
    top: 35%;
    left: 30%;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}


header .content .choose_bx {
    /* background: honeydew; */
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid blue; */
}

header .content .choose_bx .stay_bx {
    display: flex;
    align-items: center;
}

header .content .choose_bx .stay_bx button {
    padding: 10px 30px;
    background: #000000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s linear;
}

header .content .choose_bx .stay_bx button:hover {
    background: lightblue;
    color: #000000;
}

header .content .choose_bx .stay_bx button:nth-child(1) {
    background: #fff;
    color: #000000;
}

header .content .choose_bx .stay_bx button:nth-child(1):hover {
    background: lightblue;
    color: #000000;
}


header .content .choose_bx .select {
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 5px 15px -10px rbga(214, 214, 214);
    border-radius: 0px 10px 10px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
}

header .content .choose_bx .select .card {
    width: 30%;
    height: 90%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

header .content .choose_bx .select .card:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-height: 117px;
}

header .content .choose_bx .select .card:nth-child(2) {
    min-height: 117px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

header .content .choose_bx .select .card input {
    border: none;
    outline: none;
    display: block;
}

header .content .choose_bx .select .card input:nth-child(2) {
    font-weight: 700;
}

header .content .choose_bx .select .card input:nth-child(3) {
    color: gray;
}

header .content .choose_bx .select .card h5 {
    font-size: 18px;
    font-weight: 500;
}

header .content .choose_bx .select .card button {
    padding: 5px 7px;
    margin-top: 2px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s linear;
}

/* content end */



/* top selling  */
.top_selling {
    width: 100%;
    height: auto;
    margin-top: -50px;
    background: rgb(241, 248, 248);
}

.top_selling .top_selling_content {
    padding-top: 100px;
    padding-bottom: 80px;
    width: 85%;
    margin: auto;
}

.top_selling .top_selling_content .heading {
    text-align: center;
    max-width: 400px;
    margin: auto;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

.top_selling_content .top_selling_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.top_selling_content .top_selling_box .top_selling_item {
    width: 200px;
    height: 250px;
    border-radius: 15px;

    position: relative;
}

.top_selling_content .top_selling_box .top_selling_item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.top_selling_content .top_selling_box .top_selling_item .bi {
    position: absolute;
    right: 8px;
    top: 5px;
    color: red;
}

.top_selling_content .top_selling_box .top_selling_item .bi:hover {
    color: blue;
}

.top_selling_content .top_selling_box .top_selling_item .bi::after {
    content: '';
    position: absolute;
    width: 165%;
    height: 109%;
    background: rgba(194, 194, 194, 0.6);
    left: -5px;
    top: -2px;
    border-radius: 50%;
    backdrop-filter: blur(0.4px);

}

.top_selling_content .top_selling_box .top_selling_item div {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(194, 194, 194, 0.6);
    color: white;
    height: 40px;
    width: 100%;
    padding-top: 2%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    backdrop-filter: blur(2px);
}

/* top selling end  */




/* we provide start */
.we_provide {
    width: 85%;
    margin: auto;
}

.we_provide .we_provide_content {
    padding: 50px 0;
}

.we_provide .we_provide_content .heading {
    text-align: center;
    max-width: 400px;
    margin: auto;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

.we_provide .we_provide_content .we_provide_box {
    padding: 0 10%;
    display: flex;
    /* justify-content: center; */
    gap: 20px;

}

.we_provide .we_provide_content .we_provide_box .we_provide_img {
    display: flex;
    flex: 40%;
}
.we_provide .we_provide_content .we_provide_box .we_provide_img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.we_provide .we_provide_content .we_provide_box .we_provide_description {
    display: flex;
    flex: 60%;
    flex-direction: column;
    /* border: 1px solid #000000; */

    padding: 20px;
}

.we_provide .we_provide_content .we_provide_box .we_provide_description .content {
    margin-top: 15px;

    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.we_provide .we_provide_content .we_provide_box .we_provide_description .bi {
    color: aqua;
    font-size: 32px;
}

.we_provide .we_provide_content .we_provide_box .we_provide_description li {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #B0C4DE;

}


/* we provide end */